*{
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
}
#nav-btn{
  fill:white;
  height:40px;
  position:absolute;
  right:10px;
  top:7px;
  display:none;
}
.vertical-line{
	margin-top:30px;
	margin-bottom:30px;
	width:35px;
	border-bottom:#F7F7F7 4px solid;
}


aside{
	position:fixed;
	float:left;
	width:205px;
	padding-top:30px;
	padding-left:25px;
	top:0;
	bottom:0;
	background-color:#474958;
	z-index:400;
	overflow-x: hidden;
	overflow:auto;
}

aside::-webkit-scrollbar {
	width: 1px;
	height: 1px;
}

html::-webkit-scrollbar{
	width: 1px;
	height: 1px;
}

header{
	float:left;
	width:calc(93% - 230px);
	width:-moz-calc(93% - 230px);
	width:-webkit-calc(93% - 230px);
	padding-left:calc(230px + 7%);
	padding-left:-moz-calc(230px + 7%);
	padding-left:-webkit-calc(230px + 7%);
	padding-top:30px;
	padding-bottom:30px;
	background-color:rgba(247, 247, 247, .9);
	border-bottom:#2b99ff 2px solid;
	position:fixed;
	z-index:300;
}

article{
	float:left;
	margin-left: calc(230px + 9%);
	margin-left: -moz-calc(230px + 9%);
	margin-left: -webkit-calc(230px + 9%);
	margin-right: 9%;
	padding-top:200px;
	width:calc(82% - 230px);
	width:-moz-calc(82% - 230px);
	width:-webkit-calc(82% - 230px);
	padding-bottom: 150px;
}

nav ul li{
	line-height:30px;
}

nav ul li a{
	color:#e3e2e2;
}

nav ul li a:hover{
	color:#2b99ff;
}

.products{
	font-family: 'Do Hyeon';
	font-size: 20px;
	padding-top:20px;
	font-weight:350;
	color:#ffffff;
}

h1{
	font-family:Arial, Helvetica, sans-serif;
	color:white;
	margin-bottom:20px;
	font-size: 1.5em;
}

h1 a{
	font-size: 40px;
	letter-spacing: 3px;
	font-family: 'Bangers';
	color:#ff96f6;
}

h1 a:hover{
	color:yellow;
}

h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:2.4em;
	font-weight:bold;
	color:#474958;
	-webkit-transition: font-size 0.3s;
	-moz-transition: font-size 0.3s;
	-o-transition: font-size 0.3s;
	transition: font-size 0.3s;
}
#google_ul{
  display: none;
}

@media (max-width: 730px) {
	h2{
  	font-size:2em;
  }
  aside{
		float:left;
		width:95%;
		padding-left: 5%;
		position:relative;
		float:left;
		padding-top: 10px;
		padding-bottom:10px;
	}
	header{
		float:left;
		position:relative;
		width:95%;
		padding-left:5%;
	}
	nav{
	  display:none;
  }
  #nav-btn{
    fill:white;
    height:40px;
    width:40px;
    position:absolute;
    right:7px;
    top:7px;
    display:block;
    cursor: pointer;
  }
	h1{
		margin-bottom: 0px;
	}
	.vertical-line {
		margin-top: 20px;
		margin-bottom: 20px;
    display:none;
	}
	#products {
		padding-top: 0;
	}
	nav li{
		font-size: 15px;
	}
	article{
		float:left;
		width:90%;
		margin-left: 5%;
		margin-right: 5%;
		padding-top:50px;
	}

}
