.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto auto auto 250px;
  max-width: 80%;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

@media (max-width: 730px) {
  .table-fill {
	  background: white;
	  border-radius:3px;
	  border-collapse: collapse;
	  height: 120px;
	  max-width: 50%;
	  padding:5px;
	  width: 100%;
		margin-left: 0;
	  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	  animation: float 5s infinite;
	}
}
